In [1]:
import numpy as np
import pandas as pd

In [2]:
mnames = ['movie_id', 'title', 'genres']
movies = pd.read_table('examples/movies.dat', sep='::',
                       header=None, names=mnames, engine='python')

In [4]:
movies[:10]

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy
5         6                         Heat (1995)         Action|Crime|Thriller
6         7                      Sabrina (1995)                Comedy|Romance
7         8                 Tom and Huck (1995)          Adventure|Children's
8         9                 Sudden Death (1995)                        Action
9        10                    GoldenEye (1995)     Action|Adventure|Thriller

In [8]:
dummies = movies['genrmoes'].str.get_dummies('|')
dummies.iloc[:10, :6]

   Action  Adventure  Animation  Children's  Comedy  Crime
0       0          0          1           1       1      0
1       0          1          0           1       0      0
2       0          0          0           0       1      0
3       0          0          0           0       1      0
4       0          0          0           0       1      0
5       1          0          0           0       0      1
6       0          0          0           0       1      0
7       0          1          0           1       0      0
8       1          0          0           0       0      0
9       1          1          0           0       0      0

In [11]:
movies_windic = movies.join(dummies.add_prefix('Genre_'))
movies_windic.iloc[2]

movie_id                                   3
title                Grumpier Old Men (1995)
genres                        Comedy|Romance
Genre_Action                               0
Genre_Adventure                            0
Genre_Animation                            0
Genre_Children's                           0
Genre_Comedy                               1
Genre_Crime                                0
Genre_Documentary                          0
Genre_Drama                                0
Genre_Fantasy                              0
Genre_Film-Noir                            0
Genre_Horror                               0
Genre_Musical                              0
Genre_Mystery                              0
Genre_Romance                              1
Genre_Sci-Fi                               0
Genre_Thriller                             0
Genre_War                                  0
Genre_Western                              0
Name: 2, dtype: object

In [14]:
np.random.seed(12345)
values = np.random.uniform(size=10)
values

array([0.92961609, 0.31637555, 0.18391881, 0.20456028, 0.56772503,
       0.5955447 , 0.96451452, 0.6531771 , 0.74890664, 0.65356987])

In [16]:
bins = [0,0.2,0.4,0.6,0.8,1]
pd.get_dummies(pd.cut(values, bins))

   (0.0, 0.2]  (0.2, 0.4]  (0.4, 0.6]  (0.6, 0.8]  (0.8, 1.0]
0       False       False       False       False        True
1       False        True       False       False       False
2        True       False       False       False       False
3       False        True       False       False       False
4       False       False        True       False       False
5       False       False        True       False       False
6       False       False       False       False        True
7       False       False       False        True       False
8       False       False       False        True       False
9       False       False       False        True       False

In [17]:
s = pd.Series([1,2,3,None])
s

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

In [19]:
s.dtype

dtype('float64')

In [21]:
s = pd.Series([1,2,3,None], dtype=pd.Int64Dtype())
s

0       1
1       2
2       3
3    <NA>
dtype: Int64

In [22]:
s.isna()

0    False
1    False
2    False
3     True
dtype: bool

In [24]:
s = pd.Series(['one', 'two', None, 'three'], dtype=pd.StringDtype())
s

0      one
1      two
2     <NA>
3    three
dtype: string

In [25]:
df = pd.DataFrame({"A": [1, 2, None, 4],
             "B": ["one", "two", "three", None],
              "C": [False, None, False, True]})
df

     A      B      C
0  1.0    one  False
1  2.0    two   None
2  NaN  three  False
3  4.0   None   True

In [26]:
df.isna()

       A      B      C
0  False  False  False
1  False  False   True
2   True  False  False
3  False   True  False

In [27]:
df['A'] = df['A'].astype('Int64')
df['B'] = df['B'].astype('string')
df['C'] = df['C'].astype('boolean')

df

      A      B      C
0     1    one  False
1     2    two   <NA>
2  <NA>  three  False
3     4   <NA>   True

In [28]:
val = 'a,b, guido'
val.split(',')

['a', 'b', ' guido']